.container {
  padding: 20px;
  margin: 20px;
  max-width: 1000px;
}
.icon {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 10px 0;
  cursor: pointer;
  color: white;
  font-size: 18px;
}
.pair {
  display: flex;
}
.arrow {
  cursor: pointer;
  margin-right: 10px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.desc {
  padding: 10px;
  margin-top: 10px;
  text-align: justify;
  color: white;
  letter-spacing: 1px;
  font-weight: 400;
}

.title {
  color: white;
}
.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
